* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

body {
    background-color: black;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo{
    width: 100px; 
    height: auto;
}

/* botoes */
.botoes-contato{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    gap: 15px; 
}

.contato-container{
    display: flex;
    flex-direction: column;
    justify-content: center; /* centraliza vertical */
    align-items: center;     /* centraliza horizontal */
    text-align: center;
    flex: 1; /* ocupa o espaço disponível */
    gap: 30px;
}

/* endereço */
.endereco{
    position: fixed;
    bottom: 20px;
    left: 20px;
    text-align: left;
    color: lightgray;
    line-height: 1.6;
}

.endereco h3{
    color: goldenrod;
    margin-bottom: 10px;
}

.btn{
    padding: 18px 50px;
    border: none;
    border-radius: 100px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
    display: inline-block;
    text-align: center;
    text-decoration: none; /* tira o sublinhado do link */
}

.btn:hover{
    opacity: 0.8;
}

.btn.ativo{
    outline: 2px solid white;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(255,255,255,0.5);
}

.ifood{
    background-color: #ea1d2c;
}

.food99{
    background-color: #ffcc00;
    color: black;
}

.keeta{
    background-color: #7ed957;
    color: black;
}


.whatsapp{
    background-color: #25D366;
    color: white; 
}

@media (max-width: 768px){
    .botoes-contato{
        flex-direction: column;
        gap: 15px;
    }

    .btn{
        width: 80%;
        max-width: 300px;
        padding: 14px;
        font-size: 16px;
    }

    .endereco{
        position: static; /* 🔥 remove o fixed */
        text-align: center;
        margin-top: 20px;
    }

    h2{
        font-size: 22px;
    }
}
